name: calculatarr

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  # --------------------------
  # CodeQL Analysis Job
  # --------------------------
  analyze:
    name: Analyze
    runs-on: windows-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ 'java' ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}

      - name: Autobuild
        uses: github/codeql-action/autobuild@v3

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
        with:
          category: "/language:${{ matrix.language }}"

  # --------------------------
  # Build and Test Job
  # --------------------------
  build:
    name: Build & Test
    runs-on: windows-latest
    needs: analyze

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build & Test with Maven
        run: mvn clean verify

  # --------------------------
  # Cleanup Job
  # --------------------------
  cleanup:
    name: Cleanup Deployment
    runs-on: windows-latest
    needs: [build]
    environment: UAT

    steps:
      - name: Cleanup destination at ${{ vars.UAT_IP }}
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.UAT_IP }}
          port: ${{ vars.UAT_PORT }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            rm -rf ./deployment/*
            rm -rf ${{ vars.UAT_TOMCAT }}/digi*

  # --------------------------
  # Deploy Job
  # --------------------------
  deploy:
    name: Deploy Application
    runs-on: windows-latest
    needs: [cleanup]
    environment: UAT

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: digibank.jar
          path: ./deploy

      - name: List deploy folder
        run: ls -ltr ./deploy

      - name: Deploy to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ vars.UAT_IP }}
          port: ${{ vars.UAT_PORT }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          source: './deploy/digibank.jar'
          target: 'deployment'
